*{
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: ubuntu;
	text-align: left;
	-webkit-box-flex: 0;
	-webkit-box-orient: vertical;
}
body{
	background-image: url(/static/img/diamondPlateBG.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 1600px 1200px;
	text-align: center;
	color: #000;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
}
header, footer, section, nav, aside, hgroup{
	display: block;
}
filler{
	-webkit-box-flex: 1;
}
container{
	position: relative;
	top: 0px;
	left: 0px;
	background-color: none;
	max-width:1000px;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 0;
	overflow: hidden;
	margin: 0 auto;
	background-color: inherit;
}
a:link{
	color: blue;
	text-decoration: none;
}
a:hover{
	color: blue;
	text-decoration: none;
}
a:visited{
	color: blue;
	text-decoration: none;
}
a:active{
	color: blue;
	text-decoration: none;
}
ul{
	list-style: none;
}
ul li{
	
}
ol{
	list-style: none;
}
ol li{
	clear: both;
}
p{
	color: #111;
	text-align: left;
}
sub{
	
}
header{
	background-color: #000;
	height: 36px;
	width: 100%;
	-webkit-box-orient: horizontal;
}
footer{
	max-width: 1000px;
}
#nav-logo li{
	float: left;
}
#nav-links li{
	float: left;
	margin-right: 3px;
}
#login-links li{
	float: left;
	margin-left: 3px;
}
#navbar{
	width:1000px;
	padding-top: 0px;
	padding-bottom: 8px;
	margin: 0 auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 0;
}
#logo{
	height: 25px;
	padding-right: 3px;
	padding-top: 6px;
}
#logo-text{
	margin-top: 4px;
}
#logo-text-link{
	color: #999;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-decoration: none;
}
#nav-logo{
	
}
#nav-links{
	margin-top: 8px;
}
#login-links{
	margin-top: 8px;
}
#form-field{
}
#employeelist{
	width: 500px;
}
#singleemployee{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
}
#queue{
	width: 300px;
	margin-left: 6px;
}
#projectlist{
	width: 500px;
}
#singleproject{
	width: 500px;
}
#register_div{
	border: 1px; solid #000;
}
#terms{
	text-align: left;
}
#disclaimer{
	font-size: 2.05em;
}
.filler{
	-webkit-box-flex: 1;
}
.left{
	padding-left: 3px;
}
.right{
	padding-right: 3px;
}
.center{
	margin: 0 auto;
}
.clear{
	clear: both;
}
.padding-right{
	padding-right: 3px;
}
.dropdown{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
	background-color: #fff;
}
.nav-button{
	border-radius: 6px;
	border: 1px solid #999;
	background-color: #252525;
	color: #fff;
	height: 35px;
	padding: 3px;
	margin-top: 5px;
	display: inline;
}
.btn{
	border-radius: 3px;
	background-color: #999;
	background-color: #999;
	padding: 3px;
	margin-top: 10px;
	height: 20px;
}
.btn-large{
	height: 40px;
}
.btn-primary{
	background-color: #000;
	color: #999;
	font-size: 1.5em;
	display: inline-block;
	border-radius: 10px;
}
.form-container{
	background-color: #e0e0e0;
	border-radius: 6px;
	text-align: center;
	margin-top: 3px;
	padding: 100px 20px 100px 20px;
	width: 500px;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: center;
}
.form{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.textbox{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
.container{
	background-color: #e0e0e0;
	border-radius: 6px;
	margin-top: 6px;
	padding: 20px 10px 20px 10px;
}
.form-error{
	color: red;
}
.errorlist{
	color: red;
}
.flashes{
	max-width: 1000px;
	border-radius: 0 0 6px 6px;
	position: absolute;
	left: 0px;
}
.info{
	background-color: #e0e0e0;
	color: #111;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.success{
	background-color: #d5ffd5;
	color: green;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.warning{
	background-color: #e0e0e0;
	color: red;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.error{
	background-color: #ffbfbf;
	color: red;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.inactive{
	color: gray;
}





