<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>
	{% block extrahead %}
	{% endblock %}
</head>
<body>
{% load extra_tags %}
<header>
	<div id="navbar">
		<ul id="nav-logo">
			<li id="logo-link"><a href="/"><img src="/static/img/inventionland_logo.png" id="logo"/></a></li>
			<li id="logo-text"><a href="/" id="logo-text-link">INVENTIONLAND</a></li>
		</ul>
		<ul id="nav-links">
		   <li id="nav-link"><a href="/employees/" ><p class="nav-button">Employees</p></a></li>
		   <li id="nav-link"><a href="/projects/" ><p class="nav-button">Projects</p></a></li>
		</ul>
		<ul id="login-links">
			{% if user.is_authenticated %}{% with username=user.username job=user.employee.job %}
				<li id="login-link"><a href="{% get_template_profile_link username job %}"><p class="nav-button">Profile</p></a></li>
				{% endwith %}
				<li id="login-link"><a href="/logout/"><p class="nav-button">Logout</p></a></li>
			{% else %}
		   	<li id="login-link"><a href="/login/"><p class="nav-button">Login</p></a></li>
		   	<li id="login-link"><a href="/register/"><p class="nav-button">Register</p></a></li>
		   {% endif %}
		</ul>
	</div>
</header>

<div id="container" class="">
	{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% block content %}
	{% endblock %}
</div>
<footer>
	<!--<ul id="nav-links">
		<li><a href="/"><img src="/static/img/davison/davison_logo.png" id="logo"/></a></li>
		<li class="padding-right"><a href="/">Home</a></li>|
		<li class="padding-right"><a href="/employees/pms">Project Managers</a></li>
	</ul>
	<ul id="login-links">
		<li class="padding-right"><a href="#">Login</a></li>|
		<li><a href="#">Register</a></li>
	</ul>-->
</footer>
</div>
</body>
</html>
