{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}
{% block content %}
<form class="form-container" action="" method="post">
	{% csrf_token %}
	<ol>
	<li><div class="register_div left">
		{% if form.username.errors %}<p class="form-error">{{ form.username.errors }}</p>{% endif %}
		<label for="username"{% if form.username.errors %} class="form-error"{% endif %}>Name:</label>
		<p>{{ form.username }}</p>
	</div></li>
	
	<li><p><input type="submit" value="Get Security Question!" class="btn btn-large btn-primary"></p></li>
	</ol>
</form>
{% endblock %}
