{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}
   <div id="singleproject" class="container left">
      <h3>{{ project }}: {{ project.percent_complete }}% Complete</h3>
      <p>Status: {{ project.get_status_display }}(
      {% if not project.accepted %}
      	{{ project.productionManager.name }}
      {% else %}
      	{% if project.stl == None or project.dxf == None %}
      		{{ project.draftsman.name }}
      	{% elif project.stl != None and project.dxf != None and project.draftApproved != True %}
      		{{ project.productionManager.name }}
      	{% elif project.modelImgTop == None or project.modelImg34 == None or project.modelImgFront == None or project.modelImgRight == None %}
      		{{ project.modelbuilder.name }}
      	{% elif project.modelImgTop != None and project.modelImg34 != None and project.modelImgFront != None and project.modelImgRight != None and project.modelApproved != True %}
      		{{ project.productionManager.name }}
      	{% endif %}
		{% endif %}      
      )</p>

      <p>Production Manager in charge: {% if project.productionManager != None %}<a href="/employees/production-managers/{{ project.productionManager.slug }}">{{ project.productionManager }}</a>{% else %}None{% endif %}</p>
      {% if project.accepted %}
		   <p>Project draftsman: {% if project.draftsman != None %}<a href="/employees/draftsmen/{{ project.draftsman.slug }}">{{ project.draftsman }}</a>{% else %}None{% endif %}</p>
		   <p>Project machine technician: {% if project.machineTech != None %}<a href="/employees/machine-technicians/{{ project.machineTech.slug }}">{{ project.machineTech }}</a>{% else %}None{% endif %}</p>
		   <p>Project model builder: {% if project.modelBuilder != None %}<a href="/employees/model-builders/{{ project.modelBuilder.slug }}">{{ project.modelBuilder }}</a>{% else %}None{% endif %}</p>
		   <p>Patent Image: {% if project.patentImage1.url != None %}<a href="{{ project.patentImage1.url }}">{{ project.patentImage1.url }}</a>{% else %}None{% endif %}</p>
		   <p>Drafts: {% if project.draftApproved == True %}Approved{% endif %}</p>
		   <p>Stl File: {% if project.stl != None %}<a href="{{ project.stl.stl.url }}">download</a>{% else %}None{% endif %}</p>
		   <p>Dxf File: {% if project.dxf != None %}<a href="{{ project.dxf.dxf.url }}">download</a>{% else %}None{% endif %}</p>
		   <p>Model Images: {% if project.modelApproved %}Approved{% endif %}</p>
		   <p id="topView">Model Top View: {% if project.modelImgTop.image.url != None %}<a href="{{ project.modelImgTop.image.url }}"><br /><img height="100px" src="{{ project.modelImgTop.image.url }}" /></a>{% else %}None{% endif %}</p>
		   
		   <p id="rightView">Model Right View: {% if project.modelImgRight.image.url != None %}<a href="{{ project.modelImgRight.image.url }}"><br /><img height="100px" src="{{ project.modelImgRight.image.url }}" /></a>{% else %}None{% endif %}</p>
		   
		   <p id="frontView">Model Front View: {% if project.modelImgFront.image.url != None %}<a href="{{ project.modelImgFront.image.url }}"><br /><img height="100px" src="{{ project.modelImgFront.image.url }}" /></a>{% else %}None{% endif %}</p>
		   
		   {% if project.draftsman.username == user.username %}
		   	<form enctype="multipart/form-data">
					<br />
					<p{% if not project.accepted %} class="inactive"{% endif %}>Upload Drafts</p>
					{% if project.accepted %}<a href="/projects/draft-upload/{{ project.slug }}/">Upload Drafts</a>{% else %}<a class="inactive" href="#">Upload Drafts</a>{% endif %}
				</form>
		   <!--{% elif project.machineTech.username == user.username %}
		   	<form enctype="multipart/form-data">
					<br />
					<p>Upload Prototype Pictures</p>
					<a href="/projects/prototype-upload/{{ project.slug }}">Upload Prototype Pictures</a>
				</form>-->
		   {% elif project.modelBuilder.username == user.username %}
		   	<form enctype="multipart/form-data">
					<br />
					<p{% if project.accepted %} class="inactive"{% endif %}>Upload Model Pictures</p>
					{% if project.accepted %}<a href="/projects/model-upload/{{ project.slug }}">Upload Model Pictures</a>{% else %}<a class="inactive" href="#">Upload Model Pictures</a>{% endif %}
				</form>
			{% endif %}
			{% if project.productionManager.username == user.username %}
		   	<form enctype="multipart/form-data">
					<br />
					<p>Approve Drafts</p>
					<a href="/projects/approve-draft/{{ project.slug }}">Approve Drafts</a>
					<br />
					<p>Approve Models</p>
					<a href="/projects/approve-model/{{ project.slug }}">Approve Models</a>
				</form>
		   {% endif %}
      {% else %}
      	{% if project.productionManager.username == user.username %}
      		<form enctype="multipart/form-data">
					<br />
					<p>Accept Project</p>
					<a href="/projects/accept/{{ project.slug }}">Accept Project</a>
				</form>
			{% endif %}
      {% endif %}
   </div>
{% endblock %}
